body {
	background-image: url('images/Melamine-wood-001.png');
	margin: auto;
}

.desktop {
	width: 1170px;
}

.postit {
	position: relative;
	top: 30px;
	left: 30px;
}

#formcontainer {
	position: relative;
	margin-top: 50px;
	left: 30px;
	width: 300px;
}

#input {
	width: 200px;
	height: 30px;
	font-family: 'Loved by the King', cursive;
	font-size: 1.25em;
}

#button {
	font-family: 'Loved by the King', cursive;
	color: white;
	font-size: 1.25em;
	height: 35px;
	width: auto;
	background-color: black;
	border-radius: 10%;
	border: none;
	position: relative;
	left: 5px;
}


.instructions {
	position: relative;
	left: 30px;
	font-family: 'Loved by the King', cursive;
	font-size: 1.25em;
	font-weight: 700;
	margin-top: 10px;
}

.sharpie {
	position: absolute;
	top: 10px;
	left: 180px;
	z-index: 1;
}

.stationery {
	position: absolute;
	top: 80px;
	right: 80px;
}

.paper {
	width: 700px;
}

.items {
	font-family: 'Loved by the King', cursive;
	font-size: 2em;
	line-height: 1.625em;
	position: absolute;
	top: 70px;
	left: 150px;
}

.items li input {
	border: 0;
	background: transparent;
	font-family: 'Loved by the King', cursive;
	font-size: 2em;
}

@media only screen
and (min-width: 320px)
and (max-width: 1100px) {
.desktop {
	position: static;
	margin: auto;
}

.postit {
	position: relative;
	top: 30px;
	left: 30px;
	max-width: 35%;
}

.sharpie {
	float: right;
}

.stationery {
	margin: 0 auto;
	position: relative;
	top: 15px;
	left: 30px;
}