body {
	background-image: url('images/Melamine-wood-001.png');
}

.desktop {
	position: absolute;
	min-width: 1170px;
}

.postit {
	position: relative;
	top: 30px;
	left: 30px;
}

.input {
	position: relative;
	margin-top: 50px;
	left: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 300px;
}

.instructions {
	position: relative;
	left: 30px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
	margin-top: 5px;
}

.sharpie {
	position: absolute;
	top: 10px;
	left: 180px;
}

.notebook {
	position: absolute;
	float: right;
	top: 80px;
	right: 80px;
}