body {
	background-image: url('images/Melamine-wood-001.png');
	margin: auto;
}

.desktop {
	width: 1170px;
}

.postit {
	position: relative;
	top: 30px;
	left: 30px;
}

.input {
	position: relative;
	margin-top: 50px;
	left: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 300px;
}

.instructions {
	position: relative;
	left: 30px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
	margin-top: 5px;
}

.sharpie {
	position: absolute;
	top: 10px;
	left: 180px;
	z-index: 1;
}

.stationery {
	position: absolute;
	top: 80px;
	right: 80px;
}

.paper {
	width: 700px;
}

.items {
	font-family: 'Rock Salt', cursive;
	font-size: 1.25em;
	line-height: 2.25em;
	position: absolute;
	top: 80px;
	left: 150px;
}

@media only screen
and (min-width: 320px)
and (max-width: 1100px) {
.desktop {
	position: static;
	margin: auto;
}

.postit {
	position: relative;
	top: 30px;
	left: 30px;
	max-width: 35%;
}

.sharpie {
	float: right;
}

.stationery {
	margin: 0 auto;
	position: relative;
	top: 15px;
	left: 30px;
}